/* TurnCashModal.module.css */

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalBackdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  cursor: pointer;
}

.modalContent {
  position: relative;
  background: #fff;
  border-radius: 8px;
  max-width: 500px;
  width: 90%;
  padding: 16px;
  z-index: 1001;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.closeButton {
  position: absolute;
  top: 8px;
  right: 8px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.modalBody {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.lastTurnReport {
  margin-bottom: 8px;
}

.boldText {
  font-weight: bold;
}

.modalHeader {
  font-weight: bold;
  margin-bottom: 4px; /* Reduced margin for closer spacing */
}

.form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.input,
.textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.textarea {
  resize: vertical;
}

.previewButton {
  background: #007bff;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%; /* Ensure buttons are the same width */
  text-align: center;
  display: block;
  box-sizing: border-box;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
}

.button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  width: 100%; /* Ensure buttons are the same width */
}

.saveButton {
  background: #28a745;
  color: white;
}

.error {
  color: red;
  margin-top: 8px;
}

.movementsContainer {
  margin-top: 20px;
  width: 100%;
}

.movementsTable {
  width: 100%;
  border-collapse: collapse;
}

.movementsTable th, .movementsTable td {
  border: 1px solid #ddd;
  padding: 8px;
}

.movementsTable th {
  background-color: #f2f2f2;
  text-align: left;
}

.movementsScrollable {
  max-height: 300px; /* Ajusta esto según el tamaño que necesites */
  overflow-y: auto;
}
